<div class='row-fluid'>
	<div class='col-md-4'>
		<div ng-controller="UsersController as app">
			<h1 class="page-header">Leaderboard</h1>
			<% if current_user %>
        <p><%= link_to "Play Game", edit_user_path(current_user.id), class: 'btn btn-default' %></p>
      <% else %>
          <p><%= link_to "Register", new_user_path, class: 'btn btn-default' %></p>
        <% end %>
		  <div ng-repeat='user in app.users | limitTo:5 | orderBy:"time":reverse'>
		  	<div ng-show='{{ user.time }}'>
		    <p>{{ user.name }}<span class='pull-right'>{{ user.time }}</span></p>
		    </div>
		  </div>
		</div>
	</div>

	<div class='col-md-8'>
		<div ng-controller="ProjectsController as index">
			<h1 class="page-header">Projects</h1>
			<p>Project Search<input type="text" ng-model="search" focus="true" class='form-control'></p>
				<div class='pull-right'>
					<button ng-click='show("angular")' class='btn btn-default'>Angular</button>
					<button ng-click='show("finished")' class='btn btn-default'>Finished</button>
					<button ng-click='show("all")' class='btn btn-default'>Other</button>
				</div>
		  <div class="row" ng-animate="'animate'" ng-repeat='project in index.projects | filter:search'>
		  	<div ng-hide='project.projectType != projectType' class='box'>
		  		<button ng-show='project.angular' class="btn btn-default" data-toggle="modal" data-target="#myModal">
					  {{project.name}}
					</button>
			    <button class='btn btn-default' ng-hide='project.angular'>
			    	<a href="projects/{{project.id}}">{{ project.name }}</a>
			    </button>
			    <p><a href="projects/{{project.id}}/edit">edit</a></p>
			    <p>{{ project.short }}</p>
			    <p ng-hide='project.finished'>Started on {{project.start_date | date:'longDate' }}  ({{ project.daysLeft }} days left).</p>
			    <p ng-show='project.finished'>Finished</p>
		    </div>
					  <!-- Modal -->
				<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				  <div class="modal-dialog">
				    <div class="modal-content">
				      <div class="modal-header">
				        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
				        <h4 class="modal-title" id="myModalLabel">Calculator</h4>
				      </div>
				      <div ng-controller='Calc' class="modal-body">
				      	<div class='calcButtons'>
				      		<p class='calcOutput'>{{pendingOperation || ""}}<span class='pull-right'>{{output}}</span></p>
					        <p>
					        	<button ng-click='updateOutput(1)'>1</button>
					        	<button ng-click='updateOutput(2)'>2</button>
					        	<button ng-click='updateOutput(3)'>3</button>
					        	<button ng-click='add()'>+</button>
					        	<button ng-click='subtract()'>-</button>
					        </p>
					        <p>
						        <button ng-click='updateOutput(4)'>4</button>
						        <button ng-click='updateOutput(5)'>5</button>
						        <button ng-click='updateOutput(6)'>6</button>
						        <button ng-click='multiply()'>*</button>
					        	<button ng-click='devide()'>/</button>
					        </p>
					        <p>
						        <button ng-click='updateOutput(7)'>7</button>
						        <button ng-click='updateOutput(8)'>8</button>
						        <button ng-click='updateOutput(9)'>9</button>
						        <button ng-click='calculate()'>=</button>
						        <button ng-click='clear()'>Clear</button>
					        </p>
					     </div>
						  </div>
				      <div class="modal-footer">
				        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				      </div>
				    </div>
				  </div>
				</div>
			</div>
		</div>
	</div>
</div>
	

