<div class='row-fluid'>
	<div class='col-md-4'>
		<div ng-controller="UsersController as app">
			<h1 class="page-header">Leaderboard</h1>
			<% if current_user %>
        <p><%= link_to "Play Game", edit_user_path(current_user.id), class: 'btn btn-default' %></p>
      <% else %>
          <p><%= link_to "Register", new_user_path, class: 'btn btn-default' %></p>
        <% end %>
		  <div ng-repeat='user in app.users | limitTo:5 | orderBy:"time":reverse'>
		  	<div ng-show='{{ user.time }}'>
		    <p>{{ user.name }}<span class='pull-right'>{{ user.time }}</span></p>
		    <p></p>
		    </div>
		  </div>
		</div>
	</div>

	<div class='col-md-8'>
		<div ng-controller="ProjectsController as index">
			<h1 class="page-header">Projects</h1>
			<input type="text" ng-model="search" focus="true" class='form-control'>
		  <div class="row" ng-animate="'animate'" ng-repeat='project in index.projects | filter:search' >
		  	<div class='box'>
			    <h1><a href="projects/{{project.id}}">{{ project.name }}</a></h1>
			    <p>{{ project.short }}</p>
		    </div>
		  </div>
		</div>
	</div>
</div>
