<div id='project-show' data-id='<%= @project.id %>' ng-controller='ProjectController as projectCtrl'>
    <h1>{{ projectCtrl.project.name}}</h1>    
    <h3>{{ projectCtrl.project.description}}</h3>
    <h3>{{ projectCtrl.project.link }}</h3>
    
    <h1>Reviews</h1>
    <div ng-repeat="review in projectCtrl.project.reviews">
        <p>{{ review.stars }}</p>
        <p>{{ review.body }}</p>
    </div>
</div>

<!-- /projects/:project_id/reviews -->

<%= form_for [@project, @review]  do |f|  %>
    <div class="field">
      <%= f.text_area :body, class: "text-review" %>
    </div>
    <select ng-model="reviewCtrl.review.stars" ng-options="stars for stars in [5,4,3,2,1]" title='Stars'>
            <option value>Rate this product.</option>
          </select>
    <br>
  <div class="actions">
    <br>
      <p><%= f.submit 'Rate', class: 'submit-btn' %></p>
  </div>
<% end %>